<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CapaDAL.Properties.Settings.cn" connectionString="Data Source=DESKTOP-V176NH2;Initial Catalog=BancaVirtual;Integrated Security=False; User ID=sa; Password=Passw0rd; User Instance=False;Connection Timeout=500;" />
    </connectionStrings>
    <applicationSettings>
        <CapaDAL.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>ABCDEFG54669525PQRSTUVWXYZabcdef852846opqrstuvwxyz</value>
            </setting>
        </CapaDAL.Properties.Settings>
    </applicationSettings>
</configuration>